ion-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
  
.custom-select {
    display: flex;
    --placeholder-color: white;  
    --color: white !important;              
    --background: #2e3034;       
    --border-radius: 8px;        
    --padding-start: 12px;       
    --padding-end: 12px;         
    --border: 2px solid #ffffff; 
  
    ion-select-option {
      --color: rgb(255, 255, 255);   
      --background: white;
    }
  }

ion-button{
    --background: orange;
}

  